body {
  font-family: $primary-font-family;
  background: $primary-background-color;
  color: $primary-text-color;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  font-weight: 500;
  line-height: 1.27;
}

h1,
h2 {
  font-size: clamp(24px, 2vw, 30px);
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;

  &:hover {
    color: $primary-color;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;

  @include respond-from(mlarge) {
    padding: 0 42px;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  overflow: hidden;
}

.main-area {
  flex: 1 1 auto;
  padding: 40px 0 100px;
}

.layout {
  display: flex;
  flex-direction: column;

  @include respond-from(xlarge) {
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: $primary-gap;
  }
}
