body {
  font-family: $primary-font-family;
  background: $primary-background-color;
  color: $primary-text-color;
}

.container-fluid {
  width: auto;
  max-width: 1400px;
  padding: 0 20px;
  box-sizing: content-box;

  @include respond-from(mlarge) {
    padding: 0 42px;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  overflow: hidden;
}

.main-area {
  flex: 1 1 auto;
  padding: 40px 0 100px;
}
