// Переменные для цветов
$primary-color: #5d71dd;
$primary-background-color: #f9f9f9;
$secondary-background-color: #fff;
$light-background-color: rgba(93, 113, 221, 0.05);
$primary-text-color: #2f2222;

// Переменные для шрифтов
$primary-font-family: 'Futura PT', sans-serif;
$primary-font-size: 18px;
$secondary-font-size: 24px;
$primary-line-height: 1.28;

// Переменные для ui
$primary-border-radius: 20px;
$secondary-border-radius: 8px;
