// Переменные для цветов
$primary-color: #5d71dd;
$primary-background-color: #f9f9f9;
$secondary-background-color: #fff;
$light-background-color: rgba(93, 113, 221, 0.05);
$primary-text-color: #2f2222;
$light-text-color: rgba(47, 34, 34, 0.4);

// Переменные для шрифтов
$primary-font-family: 'Futura PT', sans-serif;
$primary-font-size: 18px;
$secondary-font-size: 16px;
$title-font-size: 24px;
$small-font-size: 14px;
$primary-line-height: 1.28;

// Переменные для ui
$primary-border-radius: 20px;
$secondary-border-radius: 8px;
$primary-gap: 40px;
$secondary-gap: 30px;
$medium-gap: 20px;
$small-gap: 10px;
$primary-box-shadow: 4px 8px 40px 0 rgba(8, 24, 111, 0.2);
